.models{
    border: 1px solid white;
    width: 90%;
    margin-left: 5%;
    height: 550px;
    font-family: sans-serif;
    margin-top: 2%;
}
.product{
    border-radius: 5px;
    border: 2px solid grey;
    height: 550px;
    width: 320px;
}
.price{
    font-family: sans-serif;
    color: #ff5733;
    margin-left: 20px;
}
.productHr{
    border: 1px solid grey;
    opacity: 0.5;
    width: 280px;
}
.productTitle{
    font-size: large;
    margin-left: 5px;
    color: #ff5733;
    font-family: sans-serif;
}
.productDescription{
    color: #ff5733;
    opacity: 1.5;
    margin-left: 5px;
}
.productButton{
    margin-left: 15px;
    width: 90%;
    align: center;
    background-color: #ff5733;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15.5px;
    border-radius: 5px;
    height: 6%;
}